# Latex build files
*.bak
*.lol
*.xml
*.synctex.gz
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.sav
*.pdf
*.mintedcmd
main-blx.bib
__latexindent_temp.tex
_minted-main

# Keep the declaration of originality
!declaration-originality.pdf